:root {

/*---- Basic font size  and family ---- */
font-size: 16px; 
font-size: clamp(15px, 1vw + 1rem, 18px);
font-family: "Outfit", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;


/*-----  document color variables -----*/

  /*  Dark Shades */
  --color-bg-primary: #121826;
  --color-bg-secondary: #212936;

  /*  Neutrals */
  --color-neutral-light: #E5E7EB;
  --color-neutral: #D2D5DA;
  --color-neutral-dark: #9DA3AE;

  /*  Accents */
  --color-accent-blue: #DEE9FC;
  --color-accent-pink: #FBE5E6;
  --color-accent-yellow: #FCEED8;   


/*-----  document font sizes variables -----*/
--font-sm: clamp(0.6rem, 1vw, 0.9rem);   
--font-md: clamp(1rem, 2vw, 1.25rem);    
--font-lg: clamp(1.5rem, 3vw, 2.5rem);   
--font-xl: clamp(2rem, 4vw, 4rem);      
}

/*  Utility classes */

body {
    background: var(--color-bg-primary) url(../img/Background_image.svg);
    color: var(--color-neutral-light);
}

h1 {
    line-height: 2.2rem;
}
h2 {
    font-size: 1.25rem;
}
p {
    color: var(--color-neutral-dark);
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.main-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem;
    text-align: center;
   }

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 2rem;
    padding-top: 1.5rem;
    text-align: center;
  }


/*  CARD design */

.card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background: var(--color-bg-secondary);
    border: 0px solid;
    border-radius: 1rem;
    padding: 1.5rem;
    text-align: left;
    gap: 1rem;
    box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.15);
}

picture {
    border-radius: 1rem;
    overflow: hidden;
}

.ico1,
.ico2,
.ico3 {
    display: flex;
    flex-wrap: wrap;
    aspect-ratio: 1/1;
    width: 3.5rem;
    border-radius: 50%;
    background: var(--color-accent-pink);
    font-size: 2rem;
    justify-content: center;
    align-items: center;
}
.ico1 { background: var(--color-accent-yellow);}
.ico2 { background: var(--color-accent-blue);}
.ico3 { background: var(--color-accent-pink);}

@media (min-width: 768px) {
    .container {
        flex-direction: row ;
        justify-content: center;
    }
    .card {
        max-width: 20rem;
    }
    h1 {
    font-size: 2.5rem;
}
.main-wrapper {
    padding-inline: 2rem;
    padding-bottom: 3rem;
        
}
    
}


